<launch>
  <node pkg="cam_sync" type="cam_sync_node" name="cam_sync_node_left" output="screen"> # launch-prefix="gdb -ex run --args">
    <remap from="/gst_image_pub/compressed" to="/cam_left/image_raw/compressed"/>
    <remap from="/gst_image_pub/compressed_exposure_time" to="/cam_left/image_raw/compressed_exposure_time"/>
    <remap from="/sync_out_stamp" to="/vectornav_driver_node/sync_out_stamp"/>
    <remap from="/gst_image_pub/synchronized/compressed" to="/cam_left/synchronized/image_raw/compressed"/>
  </node>
  <node pkg="cam_sync" type="cam_sync_node" name="cam_sync_node_front" output="screen"> # launch-prefix="gdb -ex run --args">
    <remap from="/gst_image_pub/compressed" to="/cam_front/image_raw/compressed"/>
    <remap from="/gst_image_pub/compressed_exposure_time" to="/cam_front/image_raw/compressed_exposure_time"/>
    <remap from="/sync_out_stamp" to="/vectornav_driver_node/sync_out_stamp"/>
    <remap from="/gst_image_pub/synchronized/compressed" to="/cam_front/synchronized/image_raw/compressed"/>
  </node>
  <node pkg="cam_sync" type="cam_sync_node" name="cam_sync_node_right" output="screen"> # launch-prefix="gdb -ex run --args">
    <remap from="/gst_image_pub/compressed" to="/cam_right/image_raw/compressed"/>
    <remap from="/gst_image_pub/compressed_exposure_time" to="/cam_right/image_raw/compressed_exposure_time"/>
    <remap from="/sync_out_stamp" to="/vectornav_driver_node/sync_out_stamp"/>
    <remap from="/gst_image_pub/synchronized/compressed" to="/cam_right/synchronized/image_raw/compressed"/>
  </node>

  <!-- Compressed to Raw -->
  <node pkg="image_transport" type="republish" name="republish_raw" output="screen" args="compressed">
      <remap from="in" to="/cam_front/synchronized/image_raw" />
      <remap from="out" to="/cam_front/synchronized_decompressed/image_raw" />
  </node>
</launch>
